header{
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    transition: all .3s;
    padding: 10px;
    
    h1{ 
        position: relative;
        & > p { overflow: hidden; font-size: 0; width: 0; height: 0; }
        & > img {
            position: relative;
            transition: max-width .3s;
            max-width: 250px; width: 300px;
            &:nth-child(2){ position: absolute; top:0; left: 0; }
        }
    }
    &.start{
        color:white;
        background: transparent;
        h1{
            & > img { 
                max-width: 250px;
                &:nth-child(2){ opacity: 0; }
            }
        }
    }
    &.scroll{
        padding: 0;
        color: var(--blue-grey);
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 5px 1px var(--blue-grey-lighten-1);
        h1{ 
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 40%;
            & > img { 
                max-width: 100px;
                &:nth-child(1){ opacity: 0; }
            }
            a:hover{color: var(--secondary-2-lighten-2);}
        }
    }
    

    ul>li>a{
        display: block;
        padding: 5px 10px;
        border-radius: 20px;
        transition: background-color .3s color .3s;
        &.destaque{
            display: block;
            min-width: 150px;
            padding: 5px 20px;
            text-align: center;
            justify-content: center;
            color: var(--primary-lighten-5);
            background-color: var(--primary);
        }
        &:hover{
            will-change: transform; transform: scale(1.1);
            background-color: var(--secondary-2);
            color: var(--secondary-2-lighten-2);
        }
    }
}