<div>
    <div></div>
    <div id="hero-home" class="">
        <div class="container">
            <div class="flex flex-wrap align-items-center gap-2">
                <div class="col-5"> 
                    <h2 class="mb-5 text-5xl line-height-1">Lleva tu idea al futuro y transfórmala en soluciones digitales</h2>
                    <p class="mb-4">Mejore su presencia en línea con sitios web modernos, sistemas de programación, comercio electrónico personalizado y sistemas de gestión. Todo creado a tu medida.</p>
                    <div class="flex gap-3">
                        <button>Nuestros servicios</button>
                        <button>Solicitar una cotización</button>
                    </div>
                </div>
                <div class="col-6"> 
                    <img src="svg/ilustracao-hero.svg" alt="Ilustração" />
                </div>
            </div>
        </div>
    </div>
    <div id="service-home" class="py-4">
        <div class="container py-8">
            <div class="flex flex-wrap align-items-center">
                <div class="col-auto flex gap-5">
                    <div class="col-auto flex flex-column gap-5">
                        <div class="card p-4">
                            <div class="mb-2" style="background-color:#36AEB6; width:50px; height:50px; border-radius: 50px;"></div>
                            <strong  class="mb-2 text-2xl">Páginas Web</strong>
                            <p class="line-height-1 mt-2"> ⁠Webs personalizadas y optimizadas.</p>
                        </div>
                        <div class="card p-4">
                            <div class="mb-2" style="background-color:#36AEB6; width:50px; height:50px; border-radius: 50px;"></div>
                            <strong  class="mb-2 text-2xl">Gestión y Agendamiento</strong>
                            <p class="line-height-1 mt-2">Agendamiento online eficiente.</p>
                        </div>
                    </div>
                    <div class="col-auto flex flex-column gap-5 mt-4">
                        <div class="card p-4">
                            <div class="mb-2" style="background-color:#36AEB6; width:50px; height:50px; border-radius: 50px;"></div>
                            <strong  class="mb-2 text-2xl">Tiendas <br/>en Línea</strong>
                            <p class="line-height-1 mt-2">Tiendas online para tu negocio.</p>
                        </div>
                        <div class="card p-4">
                            <div class="mb-2" style="background-color:#36AEB6; width:50px; height:50px; border-radius: 50px;"></div>
                            <strong  class="mb-2 text-2xl">Backoffice</strong>
                            <p class="line-height-1 mt-2">Gestión interna simplificada.</p>
                        </div>
                    </div>
                </div>
                <div id="text-service-home" class="col-auto pl-8">
                    <h3 class="mb-3 text-3xl line-height-1">
                        Soluciones Digitales de Excelencia para tu Negocio
                    </h3>
                    <p>
                        En Tontini, nos especializamos en ofrecer soluciones digitales personalizadas que impulsan tu negocio hacia el éxito. Desde el desarrollo de páginas web hasta sistemas de gestión y e-commerce, cada uno de nuestros servicios está diseñado con atención al detalle, asegurando máxima eficiencia, seguridad y resultados impresionantes. Nuestro objetivo es simplificar tu operación y optimizar tu presencia online, brindándote herramientas tecnológicas de alto rendimiento
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="condiferencial"  class="">
        <div class="container py-4">
            <div class="flex flex-wrap align-items-center">
                <div class="col-6">
                    <button class="button-title mb-2">O</button>
                    <h3 class="my-3 line-height-1">
                        <span class="text-xl">Soluciones sin Límites,<br/></span>
                        <span class="text-3xl">Acceso en todos los dispositivos</span>
                    </h3>
                    <p>
                        Nuestras soluciones digitales están diseñadas para ofrecerte total flexibilidad y seguridad. Accede a tus sistemas desde cualquier dispositivo — ya sea ordenador, tablet o móvil — con la confianza de que tus datos y operaciones están protegidos por las mejores tecnologías de seguridad.
                    </p>
                    <button class="call-action mt-3">Ver nuestro portafolio</button>
                </div>
                <div class="col-6">
                    <div class="img-box-dark">
                        <img src="img/mockup-temorario.webp" alt="imgem ilustrativa de um site" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chat">
        <div class="container py-4">
            <div class="flex flex-wrap align-items-center">
                <div class="col-6">
                    <div class="img-box-dark">
                        <img src="img/what-temporario.webp" alt="imgem ilustrativa de um site" />
                    </div>
                </div>
                <div class="col-6">
                    <button class="button-title mb-2">O</button>
                    <h3 class="mb-3 text-3xl line-height-1">
                        <span class="text-xl">Después de la entrega, </span><br/>
                        <span class="text-3xl">ofrecemos soporte y consultoría</span>
                    </h3>
                    <p>
                        Al contratar nuestros servicios, no estarás solo. Ofrecemos 3 meses de consultoría y soporte gratuitos después de la entrega del producto, asegurando que sepas cómo utilizar todas las funcionalidades y aproveches al máximo nuestras soluciones digitales.
                    </p>
                    <button class="call-action mt-3">Contáctenos</button>
                </div>
            </div>
        </div>
    </div>
    <!--
        <div id="video-demo">
            <div class="container pt-8 pb-0">
                <video id="custom_video_play" controls="controls" poster="img/banner-video.webp">
                    <track src="Vídeo Temporario" kind="subtitles" srclang="pt" label="Português">
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"><source src="mov_bbb.flv" type="video/flv"> Browser Not Supporting
                </video>
            </div>
        </div>
        -->
    <div id="recursos">
        <div class="container py-8">
            <h3 class="text-3xl text-center mb-3">
                <span class="text-xl">Funcionalidades Destacadas</span> <br/>
                <span class="text-3xl">de Nuestras Soluciones</span>
            </h3>
            <p class="text-center">
                Nuestras soluciones digitales están equipadas con todas las funcionalidades necesarias para que tu negocio funcione de manera eficiente y segura. Aquí algunas de las características clave que ofrecemos:
            </p>
            <div class="flex flex-wrap pt-4">
                <div class="col-4 p-3 flex gap-2">
                    <div>
                        <div style="background-color: #36AEB6; width: 60px; height: 60px; border-radius: 50%;"></div>
                    </div>
                    <div>
                        <h4 class="text-xl">Integración con Pagos en Línea</h4>
                        <p>
                            Procesa pagos con tarjeta de crédito y otras formas de pago, garantizando transacciones seguras y rápidas para tus clientes.
                        </p>
                    </div>
                </div>
                <div class="col-4 p-3 flex gap-2">
                    <div>
                        <div style="background-color: #36AEB6; width: 60px; height: 60px; border-radius: 50%;"></div>
                    </div>
                    <div>
                        <h4 class="text-xl">Gestión de Usuarios y Registros</h4>
                        <p>
                            Administra fácilmente el registro de usuarios, empleados o clientes, gestionando perfiles y permisos con total seguridad.
                        </p>
                    </div>
                </div>
                <div class="col-4 p-3 flex gap-2">  
                    <div>
                        <div style="background-color: #36AEB6; width: 60px; height: 60px; border-radius: 50%;"></div>
                    </div>
                    <div>
                        <h4 class="text-xl">Generación de Informes Personalizados</h4>
                        <p>
                            Genera informes detallados y personalizables sobre las operaciones de tu negocio, ayudando en la toma de decisiones estratégicas.
                        </p>
                    </div>
                </div>
                <div class="col-4 p-3 flex gap-2">
                    <div>
                        <div style="background-color: #36AEB6; width: 60px; height: 60px; border-radius: 50%;"></div>
                    </div>
                    <div>
                        <h4 class="text-xl">Automatización de Agendamientos</h4>
                        <p>
                            Permite a tus clientes programar citas o reservas online de manera automática, mejorando la organización y eficiencia de tu negocio.
                        </p>
                    </div>
                </div>
                <div class="col-4 p-3 flex gap-2">
                    <div>
                        <div style="background-color: #36AEB6; width: 60px; height: 60px; border-radius: 50%;"></div>
                    </div>
                    <div>
                        <h4 class="text-xl">Panel de Control Personalizado</h4>
                        <p>
                            Accede a un backoffice intuitivo y personalizable donde puedes gestionar todos los aspectos de tu negocio en una sola plataforma.
                        </p>
                    </div>
                </div>
                <div class="col-4 p-3 flex gap-2">
                    <div>
                        <div style="background-color: #36AEB6; width: 60px; height: 60px; border-radius: 50%;"></div>
                    </div>
                    <div>
                        <h4 class="text-xl">Integración con Sistemas Externos</h4>
                        <p>
                            Conecta tu plataforma con otros sistemas y servicios externos, como CRMs, ERPs o herramientas de marketing, para una gestión más completa y automatizada.
                        </p>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    <div id="telas-case">
        <div class="container py-8">
            <h3 class="text-center mb-3">
                <span class="text-xl">Echa un Vistazo a </span><br/>
                <span class="text-3xl">Nuestros Temas</span>
            </h3>
            <p class="text-center">
                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<br/>
                dolor. consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
            <div id="demo-list-site" class="pt-4" 
                (mouseout)="siteUp(3)"
            >
                <ng-container *ngFor="let site of sites; index as i">
                    <div
                    [style]="'transform: translateY('+site.transform+'px); z-index: '+site.zIndex+'; margin'+site.margin"
                    (mouseover)="siteUp(i)"
                    >
                    <img [src]="site.url" [title]="'Tela do site'" alt="site" />
                    </div>
                </ng-container>
            </div>
        </div>
            
    </div>
</div>