
:host{
    display: block;
    background-color: var(--blue-grey-lighten-4);
}
.img-box-dark{
    background-image: url('../../../../public/svg/box-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
     will-change: transform; transform: scale(.7);
}
.button-title{
    background-color: var(--blue-grey-lighten-4);
    color: va(--primary);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
    
    &:hover{
         will-change: transform; transform: scale(1.1);
        background-color: var(--secondary-2);
        color: var(--grey-lighten-5);
    }
}
.call-action{
    display: block;
    min-width: 150px;
    padding: 5px 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--primary);
    background-color: var(--secondary-1);
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px var(--primary-lighten-3);
    transition: background-color 0.3s,transform 0.3s, color 0.3s, box-shadow 0.2s;
    
    
    &:hover{
        box-shadow: 0px 0px 0px 0px transparent;
        background-color: var(--secondary-2);
         will-change: transform; transform: scale(1.1);
        color: white;
    }
}

#hero-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90dvh;
    color: white;
    padding-top: 90px;
    background-image: url('../../../../public/svg/bg-hero.svg');
    background-repeat: no-repeat;
    background-size: 98% 100%;
    background-size: 98% 100%;
    
    img{ width: 100%; }
    button{
        display: block;
        min-width: 150px;
        padding: 5px 20px;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
        color: white;
        border: solid 2px transparent;
        transition: background-color 0.3s, border-color 0.3s, transform 0.3s;

        &:first-child{ border-color: white; }
        &:last-child{ border-color: var(--primary); background-color: var(--primary); }
        &:hover {   will-change: transform; transform: scale(1.1); border-color: var(--secondary-2); background-color: var(--secondary-2); }
    }
}
#service-home{
    background-image: url('../../../../public/svg/box-clean.svg'), url('../../../../public/svg/divisor-branco.svg');
    background-repeat: no-repeat;
    background-position: 5% center, 0 bottom;
    background-size: auto 85%, 100% 90%;

    .card {
        max-width: 210px;
        min-width: 200px;
        strong{ line-height: 1em; }
    }
    #text-service-home{
        max-width: calc(100% - 600px);
    }
}
#condiferencial{ background-color: var(--grey-lighten-5);}
#chat{background-color: var(--grey-lighten-5);}
#video-demo{
    background-image: linear-gradient(180deg, var(--grey-lighten-5)50%, transparent 50.1%);
    video {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
}
#demo-list-site{
    display: flex;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px regba(0,0,0,0.3);
    padding-top: 100px;
    &>div{
        position: relative;
        transition: all .3s;
        filter: grayscale(0.5);
        opacity: 0.8;
    }
}